services:
  postgres:
    image: postgres:14.18
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    command: ["postgres", "-c", "wal_level=logical"]
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/olist_csv:/data
      - ./postgres/init:/docker-entrypoint-initdb.d
    networks:
      - my-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d olist"]
      interval: 5s
      timeout: 5s
      retries: 5

  debezium:
    image: debezium/server:2.7.3.Final
    container_name: debezium
    ports:
      - 8080:8080
    volumes:
      - debezium_data:/debezium/data
    environment:
      # ================= Sink (Pub/Sub) =================
      - DEBEZIUM_SINK_TYPE=pubsub
      - DEBEZIUM_SINK_PUBSUB_PROJECT_ID=e-commerce-484010
      - DEBEZIUM_SINK_PUBSUB_KEY_FILE=/debezium/conf/gcp-debezium-key.json
      - GOOGLE_APPLICATION_CREDENTIALS=/debezium/conf/gcp-debezium-key.json

      # ================= Source (Postgres) =================
      - DEBEZIUM_SOURCE_CONNECTOR_CLASS=io.debezium.connector.postgresql.PostgresConnector
      - DEBEZIUM_SOURCE_OFFSET_STORAGE_FILE_FILENAME=/debezium/data/offsets.dat
      - DEBEZIUM_SOURCE_OFFSET_FLUSH_INTERVAL_MS=1000
      - DEBEZIUM_SOURCE_DATABASE_HOSTNAME=${VM_POSTGRES}
      - DEBEZIUM_SOURCE_DATABASE_PORT=${DB_PORT}
      - DEBEZIUM_SOURCE_DATABASE_USER=${DB_USER}
      - DEBEZIUM_SOURCE_DATABASE_PASSWORD=${DB_PASSWORD}
      - DEBEZIUM_SOURCE_DATABASE_DBNAME=${DB_NAME}
      - DEBEZIUM_SOURCE_TOPIC_PREFIX=${DB_NAME}
      - DEBEZIUM_SOURCE_SCHEMA_INCLUDE_LIST=public
      # - DEBEZIUM_SOURCE_TABLE_INCLUDE_LIST=public.orders,public.customers
      - DEBEZIUM_SOURCE_PLUGIN_NAME=pgoutput

      # ================= Snapshot / Slot =================
      # Nếu bạn đã tạo replication slot trước bằng:
      # SELECT pg_create_logical_replication_slot('snap_shot', 'pgoutput');
      - DEBEZIUM_SOURCE_SLOT_NAME=snap_shot
      - DEBEZIUM_SOURCE_SNAPSHOT_MODE=never

      # ================= Format =================
      - DEBEZIUM_FORMAT_KEY=json
      - DEBEZIUM_FORMAT_VALUE=json
      - DEBEZIUM_FORMAT_KEY_SCHEMAS_ENABLE=false
      - DEBEZIUM_FORMAT_VALUE_SCHEMAS_ENABLE=false

      # ================= Additional Settings =================
      ## ================ From source DB to Debezium
      # Số lượng record tối đa đọc trong 1 lần (Tăng lên để gom cục to)
      - DEBEZIUM_SOURCE_MAX_BATCH_SIZE=4096
      # Queue phải lớn hơn batch size (để chứa đủ data)
      - DEBEZIUM_SOURCE_MAX_QUEUE_SIZE=8192
      # [QUAN TRỌNG] Thời gian đợi giữa các lần poll DB (ms).
      # Đặt 1000ms để chờ data tích tụ trong WAL rồi mới đọc 1 lần.
      - DEBEZIUM_SOURCE_POLL_INTERVAL_MS=5000
      # Commit offset
      - DEBEZIUM_SOURCE_OFFSET_FLUSH_INTERVAL_MS=60000
      ## =============== From Debezium to Pub/Sub
      # Đợi tối đa 2000ms (2 giây) để gom đủ message trước khi gửi request lên Google
      - DEBEZIUM_SINK_PUBSUB_BATCH_DELAY_THRESHOLD_MS=10000
      # Hoặc gửi ngay nếu gom đủ 1000 message
      - DEBEZIUM_SINK_PUBSUB_BATCH_ELEMENT_COUNT_THRESHOLD=1000
      # Hoặc gửi ngay nếu gom đủ 5MB
      - DEBEZIUM_SINK_PUBSUB_BATCH_REQUEST_BYTES_THRESHOLD=5242880
    networks:
      - my-network

volumes:
  postgres_data:
  debezium_data:

networks:
  my-network:
    driver: bridge
