x-airflow-common: &airflow-common
  image: apache/airflow:3.0.3 # Ensure this tag exists/is correct for your needs
  volumes:
    - ./airflow:/opt/airflow
    - /var/run/docker.sock:/var/run/docker.sock
  # env_file:
  #   - .env
  networks:
    - my-network
  group_add:
    - '1001'
  depends_on:
    postgres:
      condition: service_healthy

services:
  postgres:
    image: postgres:14.18
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: airflow_db
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
    networks:
      - my-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow -d airflow_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  # 1. NEW SERVICE: Init Container to handle DB Migrations safely
  airflow-init:
    <<: *airflow-common
    command: version
    entrypoint: >
      bash -c "
      echo 'waiting for postgres...' &&
      airflow db migrate &&
      airflow users create --username admin --password admin --firstname Peter --lastname Parker --role Admin --email spiderman@superhero.org || true
      "
    # This service runs once then stops successfully

  airflow-scheduler:
    <<: *airflow-common
    # Removed 'db migrate' from here because 'airflow-init' handles it
    command: airflow scheduler
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully

  airflow-webserver:
    <<: *airflow-common
    # CHANGED: Standard command for UI is 'webserver'. 
    # If you specifically need the execution api, use a separate service.
    command: api-server
    ports:
      - 8080:8080
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully

  airflow-dag-processor:
    <<: *airflow-common
    command: airflow dag-processor
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully

  # dbt:
  #   image: ghcr.io/dbt-labs/dbt-bigquery:1.9.latest
  #   volumes:
  #     - ./dbt/e_commerce:/usr/app
  #     - ./dbt:/root/.dbt
  #   working_dir: /usr/app
  #   networks:
  #     - my-network
  #   command: debug

networks:
  my-network: