services:
  postgres:
    image: postgres:14.18
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    command: ["postgres", "-c", "wal_level=logical"]
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./olist_csv:/data
      - ./init:/docker-entrypoint-initdb.d

volumes:
  postgres_data: